//! **************************************************************************
// Written by: Map P.20131013 on Thu Dec 16 23:33:11 2021
//! **************************************************************************

SCHEMATIC START;
COMP "_2" LOCATE = SITE "P2" LEVEL 1;
COMP "_5" LOCATE = SITE "P5" LEVEL 1;
COMP "_6" LOCATE = SITE "P6" LEVEL 1;
COMP "_7" LOCATE = SITE "P7" LEVEL 1;
COMP "_8" LOCATE = SITE "P8" LEVEL 1;
COMP "_9" LOCATE = SITE "P9" LEVEL 1;
COMP "LED" LOCATE = SITE "P82" LEVEL 1;
COMP "_10" LOCATE = SITE "P10" LEVEL 1;
COMP "_11" LOCATE = SITE "P11" LEVEL 1;
COMP "_12" LOCATE = SITE "P12" LEVEL 1;
COMP "_21" LOCATE = SITE "P21" LEVEL 1;
COMP "_22" LOCATE = SITE "P22" LEVEL 1;
COMP "_14" LOCATE = SITE "P14" LEVEL 1;
COMP "_23" LOCATE = SITE "P23" LEVEL 1;
COMP "_15" LOCATE = SITE "P15" LEVEL 1;
COMP "_24" LOCATE = SITE "P24" LEVEL 1;
COMP "_16" LOCATE = SITE "P16" LEVEL 1;
COMP "_17" LOCATE = SITE "P17" LEVEL 1;
COMP "LED1" LOCATE = SITE "P67" LEVEL 1;
COMP "LED2" LOCATE = SITE "P74" LEVEL 1;
COMP "LED3" LOCATE = SITE "P75" LEVEL 1;
COMP "_131" LOCATE = SITE "P131" LEVEL 1;
COMP "_141" LOCATE = SITE "P141" LEVEL 1;
COMP "_133" LOCATE = SITE "P133" LEVEL 1;
COMP "_126" LOCATE = SITE "P126" LEVEL 1;
COMP "_143" LOCATE = SITE "P143" LEVEL 1;
COMP "_137" LOCATE = SITE "P137" LEVEL 1;
COMP "_139" LOCATE = SITE "P139" LEVEL 1;
COMP "RedSW" LOCATE = SITE "P124" LEVEL 1;
COMP "YellowSW" LOCATE = SITE "P132" LEVEL 1;
COMP "JOYGND" LOCATE = SITE "P138" LEVEL 1;
COMP "BlueSW" LOCATE = SITE "P127" LEVEL 1;
COMP "JoyVCC" LOCATE = SITE "P134" LEVEL 1;
COMP "buzzer_1" LOCATE = SITE "P83" LEVEL 1;
SCHEMATIC END;

